{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Développez votre clientèle grâce à Peigne & Ciseaux !</h1>
            <p>
                <a href="#" class="btn btn-primary">Inscrivez-vous dès maintenant !</a>
            </p>
        </div>
    </section>
{% endblock %}