
{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<p>
		<h5 class="text-center">MENTIONS LÉGALES DU SITE</h5>

		Peigne et ciseaux Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site Peigne et ciseaux les présentes mentions légales. Le site Peigne et ciseaux est accessible à l'adresse suivante : peigne et ciseaux (ci-après "le Site"). L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables. La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales. 

		<h5 class="text-center">ARTICLE 1 - INFORMATIONS LÉGALES</h5>

		En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi. 

		<h6 class="text-center">A. Editeur du site</h6>

		Le site Peigne et ciseaux est édité par : Virgil Moreau domicilié à l'adresse suivante : 27 Place du Commerce. Adresse e-mail : virgilmeaup@hotmail.fr ci-après " l'Éditeur " 
		
		<h6 class="text-center">B. Utilisateurs </h6>

		Sont considérés comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site Peigne et ciseaux. 

		<h5 class="text-center">ARTICLE 2 - CONFIDENTIALITE</h5>
		<h6 class="text-center">A. DONNEES COLLECTEES ET TRAITEES</h6>

		Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants : Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ; Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes mentions légales ; Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ; Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Si la durée de conservation ne peut être communiquée à l'utilisateur ; Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées. Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées : L'utilisateur a expressément consenti au traitement ; Le traitement est nécessaire à la bonne exécution d'un contrat ; Le traitement répond à une obligation légale ; Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ; Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique ; Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers. Les données à caractère personnel collectées sur le site Peigne et ciseaux sont les suivantes : Prénom, nom;Numéro de téléphone;Adresse postal;Photo de profil. Ces données sont collectées lorsque l'Utilisateur effectue l'une des opérations suivantes sur le site : Inscription sur le site;Modification du profil. Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : Indéfini. La collecte et le traitement des données répondent aux finalités suivantes : Afin de mettre en relation des coiffeurs indépendants avec nos clients nous avons besoin de collecter ses données, dans le but de fournir les informations aux clients et aux coiffeurs, nous collectons ses données. 

		<h6 class="text-center">C. LE RESPONSABLE DU TRAITEMENT DES DONNÉES</h6>

		Le responsable du traitement des données à caractère personnel est : Moreau virgil. Il peut être contacté de la manière suivante : le responsable du traitement des données peut être contacté par email : virgilmeaup@hotmail.fr 

		<h6 class="text-center">D. LE DELEGUE A LA PROTECTION DES DONNEES</h6>

		La personne suivante a été nommée Délégué à la Protection des Données : MOREAU VRGIL. Le délégué à la protection des données peut être joint de la manière suivante : Par email : Virgilmeaup@hotmail.fr 

		<h6 class="text-center">E. DONNEES PERSONNELLES DES PERSONNES MINEURES</h6>

		Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles. Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées. 

		<h6 class="text-center">F. DROITS DE L'UTILISATEUR ET PROCÉDURES DE MISE EN OEUVRE DES DROITS DE L'UTILISATEUR</h6>

		Conformément à la réglementation concernant le traitement des données à caractère personnel, l'Utilisateur possède les droits ci-après énumérés. Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné. Le responsable du traitement des données est tenu de répondre à l'Utilisateur dans un délai de 30 (trente) jours maximum. a. Droit d'accès, de rectification et droit à l'oubli L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée : L'utilisateur doit envoyer un e-mail au responsable du traitement des données personnelles, en précisant l'objet de sa demande et en utilisant l'adresse e-mail de contact qui est fournie plus haut. S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel en suivant la procédure suivante : L'utilisateur doit envoyer un e-mail au responsable du traitement des données, en précisant son numéro d'espace personnel. La demande de suppression des données sera traitée dans un délai de 10 jours ouvrés b. Droit à la portabilité des données L'Utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après : L'utilisateur doit faire une demande de portabilité de ses données personnelles auprès du responsable du traitement des données, en envoyant un e-mail à l'adresse prévue ci-dessus. c. Droit à la limitation et à l'opposition du traitement des données Enfin, l'Utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'Utilisateur. d. Droit de déterminer le sort des données après la mort Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016. e. Droit de saisir l'autorité de contrôle compétente Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'Utilisateur, et que l'Utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent. 

		<h6 class="text-center">G. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</h6> 

		Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées. De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés. Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'Utilisateur est compromise, le responsable du traitement s'engage à informer l'Utilisateur par tout moyen. 

		<h5 class="text-center">ARTICLE 4 - LOI APPLICABLE ET JURIDICTION</h5>

		Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur. 

		<h5 class="text-center">ARTICLE 5 - CONTACT</h5>

		Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : virgilmeaup@hotmail.fr, ou par courrier recommandé avec accusé de réception adressé à l'Éditeur aux coordonnées précisées dans les présentes mentions légales. Le site Peigne et ciseaux vous souhaite une excellente navigation !

	</p>
</div>
{% endblock %}