{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {#
        {% if orderSuccess %}
            <div class="alert alert-success" role="alert">
                Votre commande à bein été enregistré.
            </div>
        {% endif %}
         #}
    </div>
{% endblock %}